.navbar{
background-color: #1f2937;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #e5e7eb;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 200px;
padding-right: 200px;
gap: 1em;
}

.hero{
    background-color: #1f2937; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 200px;
}

.Hero-Main{
    background-color: #1f2937; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

.logo{
    display:flex;
    justify-content: flex-start;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.navbar .logo{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.menu{
    display:flex;
    justify-content: flex-end;
    align-content: space-evenly;
    gap: 1em;
}

.first{
    padding-left: 200px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

.second{
    color: #e5e7eb;
    padding-left: 200px;
}

.third{
    padding-left: 200px;
}

.fourth{
    background-color: #3882F6;
    color: #f9faf8;
    border-style: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.fifth{
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.sixth{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.seventh{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding-left: 250px;
    padding-right: 250px;
}
.eighth{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ninth{
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 3px;
}

.ten{
    display: flex;
    color: grey;
    font-size: 25px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.Hero-Secondary{
    padding-bottom: 200px;
}

.Hero-Quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction:column ;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 350px;
    padding-right: 250px;
}

.Hero-Quote .eleven{
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    font-style: normal;
    padding-right: 150px;
}

.Hero-Action{
    display: flex;
    justify-content: center;
    background-color: #f9faf8;
}

.twelve{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3882F6;
    color: #f9faf8;
    margin-top: 100px;
    margin-bottom: 100px;
   width: 1000px;
   padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
}

.fourteen{
    background-color: #3882F6;
    border-color: #f9faf8;
    color: #f9faf8;
    border-style: solid;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    font-weight: bold;
}

.fifteen{
    font-weight: bold;
    font-size: 18px;
}

